@import "../index.scss";


.page {
    padding: 50px 0;
    
    .container {
        display: flex;
        justify-content: center;

        .withdraw {
            background-color: $secondary;
            padding: 20px;
            border: 2px solid $box-border;
            border-radius: 20px;

            .header {
                font-weight: bolder;
                font-size: 18px;
                color: $primary;
            }

            .balance {
                display: flex;
                justify-content: flex-end;
            }

            .currency {
                padding: 10px;
                background-color: $primary;
                border-radius: 10px;
                font-weight: bolder;
            }

            .btn-max {
                color: $btn-max;
                font-weight: bolder;
                font-size: 16px;
            }
            
            .withdraw-button {
                border: none;
                width: 120px;
                height: 35px;
                border-radius: 40px;
                font-weight: bolder;
                background-color: $primary;
                color: white;
                font-size: 16px;
            }
        }
    }
}